{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bookmarks.css') }}">
    <script src="{{ url_for('static', filename='js/dragndrop.js') }}"></script>
{% endblock %}
{% block navbar %}
	<header>
		<a href="#" data-activates="slide-out" class="button-collapse top-nav hide-on-large-only"><i class="material-icons black-text">reorder</i></a>
		<ul id="slide-out" class="side-nav fixed">
			<li class="logo"><a id="logo-container" href="{{ url_for('main.index') }}" class="brand-logo">
				<object id="front-page-logo" type="image/png" data="{{ url_for('static', filename = 'img/bookmark.png') }}">Your browser does not support SVG</object></a></li>
			<li class="bold"><a href="{{ url_for('main.profile') }}" class="waves-effect waves-teal">Profile</a></li>
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li class="bold">
						<a class="collapsible-header  waves-effect waves-teal active" style="display: inline-block; width:170px;">Bookmarks</a>
						<a href="{{ url_for('main.add_bookmark') }}" class="right-align" style="display: inline-block; float:right;" title="Add a bookmark">+</a>
						<div class="collapsible-body">
							<ul>
                                {% for category in categories %}
                                    {% if category.id|int == category_id|int %}
                                        <li class="active teal lighten-1" ondrop="drop(event)" ondragover="allowDrop(event)"><a href="{{ url_for('main.bookmarks', category_id=category.id) }}">{{ category.name }}</a></li>
                                    {% else %}
									    <li ondrop="drop(event)" ondragover="allowDrop(event)"><a href="{{ url_for('main.bookmarks', category_id=category.id) }}">{{ category.name }}</a></li>
                                    {% endif %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
		  </li>
		  <li class="bold"><a href="{{ url_for('main.books') }}" class="waves-effect waves-teal">Books</a></li>
		  <li class="bold"><a href="{{ url_for('users.logout') }}" class="waves-effect waves-teal">Logout</a></li>
		</ul>
	</header>
{% endblock %}

{% block content %}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>{{ category_name }}</h4>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                {% for bookmark in bookmarks %}
                    <div class="col s12 m4" draggable="true" ondragstart="drag(event)">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename = 'img/sportTest1.jpg') }}">
                                <span class="card-title truncate">{{ bookmark.title }}</span>
                            </div>
                            <div class="card-content">
                                <p>{{ bookmark.description }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{{ bookmark.link }}" target="_blank">Go</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
