{% extends "base.html" %}
{% block content %}
    <main>
        <section>
            <div class="container">
                <div class="row max-height valign-wrapper">
                    <div class="col s6 offset-s3 centered-text valign">
                        <img src="{{ url_for('static', filename = 'img/bookmark.png') }}" alt="Logo" class="imgPrincipal responsive-img" id="imgPrincipal">
                        <h5 clas="flow-text">¡Organiza tus bookmarks!</h5>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
